---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/people::(url=self,url=http:%2F%2Fwww.linkedin.com%2Fin%2Fevanmorikawa)?oauth2_access_token=dummy_access_token&secure-urls=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Li-Request-Id:
      - ODTW5Z6VNV
      X-Li-Uuid:
      - USxBal+DhRMQpnnYsSoAAA==
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - PROD-ELA4
      X-Li-Pop:
      - PROD-ELA4
    body:
      encoding: UTF-8
      string: |-
        {
          "errorCode": 0,
          "message": "Invalid access token.",
          "requestId": "ODTW5Z6VNV",
          "status": 401,
          "timestamp": 1406674904463
        }
  recorded_at: Tue, 29 Jul 2014 23:01:44 GMT
recorded_with: VCR 2.9.2
