---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/people::(~,id=SDmkCxL2ya,url=http:%2F%2Fwww.linkedin.com%2Fin%2Fevanmorikawa)?oauth2_access_token=dummy_access_token&secure-urls=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Li-Request-Id:
      - 34SXM1TL2I
      X-Li-Uuid:
      - nGYbNDLU7z0vrsnrySRY0A==
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - PROD-ELA4
      X-Li-Pop:
      - PROD-ELA4
    body:
      encoding: UTF-8
      string: |-
        {
          "_total": 3,
          "values": [
            {
              "_key": "~",
              "firstName": "Evan",
              "id": "SDmkCxL2ya",
              "lastName": "Morikawa"
            },
            {
              "_key": "id=SDmkCxL2ya",
              "firstName": "Evan",
              "id": "SDmkCxL2ya",
              "lastName": "Morikawa"
            },
            {
              "_key": "url=http://www.linkedin.com/in/evanmorikawa",
              "firstName": "Evan",
              "id": "SDmkCxL2ya",
              "lastName": "Morikawa"
            }
          ]
        }
  recorded_at: Tue, 29 Jul 2014 23:03:52 GMT
recorded_with: VCR 2.9.2
