---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/people/~:(id,positions:(title))?oauth2_access_token=dummy_access_token&secure-urls=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Li-Request-Id:
      - R50SHE3XIG
      X-Li-Uuid:
      - LYjWe4BMgZo4NuyQNuMsqA==
      X-Li-Format:
      - json
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - PROD-ELA4
      X-Li-Pop:
      - PROD-ELA4
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "SDmkCxL2ya",
          "positions": {
            "_total": 9,
            "values": [
              {"title": "Architect of Experience | Builder of Bits"},
              {"title": "Founder"},
              {"title": "Hackstar"},
              {"title": "Associate Product Manager Intern"},
              {"title": "CEO & Co-Founder"},
              {"title": "Software Development Intern"},
              {"title": "Research Intern"},
              {"title": "Software Intern"},
              {"title": "Visualization Intern"}
            ]
          }
        }
  recorded_at: Tue, 29 Jul 2014 22:42:28 GMT
recorded_with: VCR 2.9.2
