---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/people/~/connections:(educations,positions)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Li-Request-Id:
      - XEHXNPV09V
      X-Li-Uuid:
      - ytEZqdtO6/5bKFmVDMO9+Q==
      Www-Authenticate:
      - OAuth realm="https://api.linkedin.com"
      X-Li-Format:
      - xml
      Content-Type:
      - text/xml;charset=UTF-8
      X-Li-Fabric:
      - PROD-ELA4
      X-Li-Pop:
      - PROD-ELA4
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <error>
          <status>401</status>
          <timestamp>1406653209026</timestamp>
          <request-id>XEHXNPV09V</request-id>
          <error-code>0</error-code>
          <message>Unknown authentication scheme</message>
        </error>
  recorded_at: Tue, 29 Jul 2014 17:00:08 GMT
recorded_with: VCR 2.9.2
